<section @fadeInAnimation>
<ol class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/assignment">Assignments</a></li>
  <li class="active">Manage Assignment</li>
</ol>

<br/>

<a class="btn btn-primary" routerLink="/assignment">Return to Assignments</a>

<h1>Manage Assignment</h1>

<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<form novalidate (ngSubmit)="saveAssignment(assignmentForm)"  #assignmentForm="ngForm" class="form-horizontal">
<input [ngModel]="assignment?.assignment_id" ngModel #assignment_id="ngModel" type="hidden" name="assignment_id">
<div class="form-group">
  <label for="student" class="col-sm-2 control-label">Student</label>
  <div class="col-sm-10">
      <select [ngModel]="assignment?.student?.student_id" ngModel #student_id="ngModel" type="text" class="form-control" id="student_id" name="student_id" required>
          <option *ngFor="let student of students"
            [value]="student.student_id">
               {{student?.first_name}} {{student?.last_name}}
          </option>
       </select>
       <span *ngIf="formErrors.student_id" class="text-danger">
        {{ formErrors.student_id }}
      </span>
  </div>
</div>
<div class="form-group">
  <label for="assignment_nbr" class="col-sm-2 control-label">Assignment Number</label>
  <div class="col-sm-10">
    <input [ngModel]="assignment?.assignment_nbr" ngModel #assignment_nbr="ngModel" type="text" class="form-control" id="assignment_nbr" name="assignment_nbr"  placeholder="Assignment Number" required pattern="\d+">
    <span *ngIf="formErrors.assignment_nbr" class="text-danger">
      {{ formErrors.assignment_nbr }}
    </span>
  </div>
</div>
<div class="form-group">
  <label for="grade_id" class="col-sm-2 control-label">Grade ID</label>
  <div class="col-sm-10">
      <select [ngModel]="assignment?.grade?.grade_id" ngModel #grade_id="ngModel" type="text" class="form-control" id="grade_id" name="grade_id" required>
          <option *ngFor="let grade of grades"
            [value]="grade.grade_id">
               {{grade?.grade}}
          </option>
       </select>
       <span *ngIf="formErrors.grade_id" class="text-danger">
        {{ formErrors.grade_id }}
      </span>
  </div>
</div>
<div class="form-group">
  <label for="class" class="col-sm-2 control-label">Class</label>
  <div class="col-sm-10">
      <select [ngModel]="assignment?.class?.class_id" ngModel #class_id="ngModel" type="text" class="form-control" id="class_id" name="class_id" required>
          <option *ngFor="let class of classes"
            [value]="class.class_id">
               {{class?.subject}} {{class?.course}}
          </option>
       </select>
       <span *ngIf="formErrors.class_id" class="text-danger">
        {{ formErrors.class_id }}
      </span>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button [disabled]="!assignmentForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
</form>
</section>
