<section @fadeInAnimation>
<ol class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/class">Classes</a></li>
  <li class="active">Manage Class</li>
</ol>

<br/>

<a class="btn btn-primary" routerLink="/class">Return to Classes</a>

<h1>Manage Class</h1>

<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>

<form novalidate (ngSubmit)="saveClass(classForm)"  #classForm="ngForm" class="form-horizontal">
<input [ngModel]="classData?.class_id" ngModel #class_id="ngModel" type="hidden" name="class_id">
<div class="form-group">
  <label for="instructor" class="col-sm-2 control-label">Instructor</label>
  <div class="col-sm-10">
      <select [ngModel]="class?.instructor?.instructor_id" ngModel #instructor_id="ngModel" type="text" class="form-control" id="instructor_id" name="instructor_id">
          <option *ngFor="let instructor of instructors"
            [value]="instructor.instructor_id">
            {{instructor?.first_name}} {{instructor?.last_name}}
          </option>
       </select>
  </div>
</div>
<div class="form-group">
  <label for="subject" class="col-sm-2 control-label">Subject</label>
  <div class="col-sm-10">
    <input [ngModel]="classData?.subject" ngModel #subject="ngModel" type="text" class="form-control" id="subject" name="subject"  placeholder="Subject" required pattern="[A-Za-z\s]+" maxlength="30">
    <span *ngIf="formErrors.subject" class="text-danger">
      {{ formErrors.subject }}
    </span>
  </div>
</div>
<div class="form-group">
  <label for="course" class="col-sm-2 control-label">Course</label>
  <div class="col-sm-10">
    <input [ngModel]="classData?.course" ngModel #course="ngModel" type="text" class="form-control" id="course" name="Course"  placeholder="course" required pattern="\d+" minlength="3" maxlength="4">
    <span *ngIf="formErrors.course" class="text-danger">
      {{ formErrors.course }}
    </span>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button [disabled]="!classForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
</form>
</section>
