<div class="jumbotron" style="background-image: url(assets/images/durham_campus_images_2.png); background-size: 100%">
    <h2>Welcome to the Iron Yard Registration Site</h2>
    <h3>You can manage everything course related from here</h3>
    <h3>Which is kind of funny, because......</h3>
  </div>
<br>
<br>
  <div class="jumbotron" style="background-image: url(assets/images/closed-iron-yard.jpg); background-size: 100%">
    <h2>.......we won't be having anymore courses</h2>
    <h1>R.I.P.  Iron Yard</h1>
  </div>